n8n_webhooks/Get Requests.json
{
  "name": "Get Requests",
  "nodes": [
    {
      "parameters": {
        "path": "requests",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "153a95cb-4cba-46ca-a44c-f0478f97ea79",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -144,
        16
      ],
      "webhookId": "post-requests-webhook"
    },
    {
      "parameters": {
        "url": "https://ftftlekcgthgrbmvoajd.supabase.co/rest/v1/solicitudes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjUwMDUxOSwiZXhwIjoyMDcyMDc2NTE5fQ.AMRs2dBcIRQuryFErHHqR5dSX1BnBdlBuluVNhTFw9I"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjUwMDUxOSwiZXhwIjoyMDcyMDc2NTE5fQ.AMRs2dBcIRQuryFErHHqR5dSX1BnBdlBuluVNhTFw9I"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "pdv_id",
              "value": "={{ $json.pdv_id }}"
            },
            {
              "name": "region_id",
              "value": "={{ $json.region_id }}"
            },
            {
              "name": "subterritorio_id",
              "value": "={{ $json.subterritorio_id }}"
            },
            {
              "name": "campaña_id",
              "value": "={{ $json.campaña_id }}"
            },
            {
              "name": "prioridad",
              "value": "={{ $json.prioridad || 1 }}"
            },
            {
              "name": "zonas",
              "value": "={{ JSON.stringify($json.zonas || []) }}"
            },
            {
              "name": "observaciones",
              "value": "={{ $json.observaciones || '' }}"
            },
            {
              "name": "creado_por",
              "value": "={{ $json.creado_por || 'n8n_user' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0127d916-211a-4d38-abc2-070b8375e97a",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        80,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const requests = $input.all().map(item => item.json);\n\n// Transformar respuesta de Supabase al formato esperado por el frontend\nconst formattedRequests = requests.map(request => ({\n  id: request.id,\n  pdv_id: request.pdv_id,\n  region_id: request.region_id,\n  subterritorio_id: request.subterritorio_id,\n  campaign_id: request.campaña_id,\n  priority: request.prioridad,\n  zones: request.zonas,\n  observations: request.observaciones,\n  created_by: request.creado_por,\n  created_at: request.created_at,\n  updated_at: request.updated_at\n}));\n\n// Retornar como array de objetos\nreturn formattedRequests.map(c => ({ json: c }));"
      },
      "id": "da687c49-d1ab-4532-b678-20d63aa96453",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        16
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "9f41f8a0-96d4-43cd-bab2-a0028ca043c6",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        528,
        16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ae6ae876-cd72-442f-bc48-80390d6dfdb7",
  "meta": {
    "instanceId": "492e1639c541052b06da65989914634d56c64d16473a6c4b9076af8d9c81bd21"
  },
  "id": "TSvXqw5F51yveCGK",
  "tags": []
}