n8n_webhooks/Get Campaigns.json
{
  "name": "Get Campaigns",
  "nodes": [
    {
      "parameters": {
        "path": "campaigns",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "635e9a37-b04f-4e9e-bf48-e6460a504b68",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -304,
        -32
      ],
      "webhookId": "campaigns-webhook"
    },
    {
      "parameters": {
        "url": "https://ftftlekcgthgrbmvoajd.supabase.co/rest/v1/campañas",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,nombre,prioridad,created_at,updated_at"
            },
            {
              "name": "order",
              "value": "nombre.asc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjUwMDUxOSwiZXhwIjoyMDcyMDc2NTE5fQ.AMRs2dBcIRQuryFErHHqR5dSX1BnBdlBuluVNhTFw9I"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjUwMDUxOSwiZXhwIjoyMDcyMDc2NTE5fQ.AMRs2dBcIRQuryFErHHqR5dSX1BnBdlBuluVNhTFw9I"
            }
          ]
        },
        "options": {}
      },
      "id": "5a0c3ae4-39db-4788-95bb-52f3ace7fbdf",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -80,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const campaigns = $input.all().map(item => item.json);\n\n// Transformar {id, nombre, descripcion, ...} a {id, name, description, ...}\nconst formattedCampaigns = campaigns.map(campaign => ({\n  id: campaign.id,\n  name: campaign.nombre,\n  prioridad: campaign.prioridad,\n  created_at: campaign.created_at,\n  updated_at: campaign.updated_at\n}));\n\n// Retornar como array de objetos\nreturn formattedCampaigns.map(c => ({ json: c }));"
      },
      "id": "e3652534-66fb-407d-926e-78f251772cb1",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -32
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "6e14758f-d287-43e0-b20f-7d72b3aa0e63",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        368,
        -32
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ea1b3c31-6675-4279-a9fb-ad3e946f73b5",
  "meta": {
    "instanceId": "492e1639c541052b06da65989914634d56c64d16473a6c4b9076af8d9c81bd21"
  },
  "id": "McNXAoFJ1ZzcMO5E",
  "tags": []
}