n8n_webhooks/Get Request by Id.json
{
  "name": "Get Request by Id",
  "nodes": [
    {
      "parameters": {
        "path": "request-by-id",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b12babad-c319-476a-9caf-8eed438d6ac8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "get-request-by-id-webhook"
    },
    {
      "parameters": {
        "url": "https://ftftlekcgthgrbmvoajd.supabase.co/rest/v1/solicitudes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,region_id,subterritorio_id,pdv_id,campaña_id,prioridad,zonas,observaciones,creado_por,created_at,updated_at"
            },
            {
              "name": "id",
              "value": "=eq.{{ Number($json.query.id) }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjUwMDUxOSwiZXhwIjoyMDcyMDc2NTE5fQ.AMRs2dBcIRQuryFErHHqR5dSX1BnBdlBuluVNhTFw9I"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjUwMDUxOSwiZXhwIjoyMDcyMDc2NTE5fQ.AMRs2dBcIRQuryFErHHqR5dSX1BnBdlBuluVNhTFw9I"
            }
          ]
        },
        "options": {}
      },
      "id": "ae794326-8973-437d-abac-0e85cf10b349",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const requests = $input.all().map(item => item.json);\n\n// Si no se encuentra la solicitud, retornar error 404\nif (!requests || requests.length === 0) {\n  return [{ json: { error: 'Request not found', status: 404 } }];\n}\n\n// Transformar el primer resultado (debería ser único por ID)\nconst request = requests[0];\nconst formattedRequest = {\n  id: request.id,\n  region_id: request.region_id,\n  subterritorio_id: request.subterritorio_id,\n  pdv_id: request.pdv_id,\n  campaign_id: request.campaña_id,\n  priority: request.prioridad,\n  zones: request.zonas,\n  observations: request.observaciones,\n  created_by: request.creado_por,\n  created_at: request.created_at,\n  updated_at: request.updated_at\n};\n\nreturn { json: formattedRequest };"
      },
      "id": "f408c7ed-59b6-47be-994d-d4e96ab3d199",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "3c134634-4860-41c4-a920-f1321b3930ea",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        672,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d97b622a-9857-4795-95c1-cd5459c2a5ae",
  "meta": {
    "instanceId": "492e1639c541052b06da65989914634d56c64d16473a6c4b9076af8d9c81bd21"
  },
  "id": "mliRqfitMj3b77Fw",
  "tags": []
}