n8n_webhooks/Get Subterritories.json
{
  "name": "Get Subterritories",
  "nodes": [
    {
      "parameters": {
        "path": "subterritories",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "15aca263-ee9f-4820-b6f5-8d21d420a78a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        256,
        112
      ],
      "webhookId": "subterritories-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Obtener parámetros de query\nconst query = $json.query || {};\nconst regionId = query.region_id;\n\n// Construir URL base\nlet url = 'https://ftftlekcgthgrbmvoajd.supabase.co/rest/v1/subterritorios';\nlet queryParams = 'select=id,region_id,nombre&order=nombre.asc';\n\n// Si hay region_id, agregar filtro\nif (regionId) {\n  queryParams += `&region_id=eq.${regionId}`;\n}\n\nreturn {\n  json: {\n    url: `${url}?${queryParams}`,\n    hasFilter: !!regionId,\n    regionId: regionId\n  }\n};"
      },
      "id": "850a287a-13f2-4425-9848-7a746e58460a",
      "name": "Build Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjUwMDUxOSwiZXhwIjoyMDcyMDc2NTE5fQ.AMRs2dBcIRQuryFErHHqR5dSX1BnBdlBuluVNhTFw9I"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjUwMDUxOSwiZXhwIjoyMDcyMDc2NTE5fQ.AMRs2dBcIRQuryFErHHqR5dSX1BnBdlBuluVNhTFw9I"
            }
          ]
        },
        "options": {}
      },
      "id": "120dc2c0-a920-45c6-8576-e49f17a1fe9c",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        704,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const subterritories = $input.all().map(item => item.json);\n\n// Transformar {id, region_id, nombre} a {id, region_id, name}\nconst formattedSubterritories = subterritories.map(sub => ({\n  id: sub.id,\n  region_id: sub.region_id,\n  name: sub.nombre\n}));\n\n// Retornar como array de objetos\nreturn formattedSubterritories.map(s => ({ json: s }));"
      },
      "id": "851ab685-7a93-40bc-a66d-8c36fa3b01eb",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "8bcf6a1f-623d-4ac3-a2b9-3a8256f085d9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1152,
        112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Query": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "770acdcc-7608-4f50-bc01-b6617d19f331",
  "meta": {
    "instanceId": "492e1639c541052b06da65989914634d56c64d16473a6c4b9076af8d9c81bd21"
  },
  "id": "3dYmMUnvXeu5ufYK",
  "tags": []
}