n8n_webhooks/Get Materials.json
{
  "name": "Get Materials",
  "nodes": [
    {
      "parameters": {
        "path": "materials",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f258c4b2-3400-42f1-aed0-b0d83bcb23bc",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        272,
        80
      ],
      "webhookId": "materials-webhook"
    },
    {
      "parameters": {
        "url": "https://ftftlekcgthgrbmvoajd.supabase.co/rest/v1/materiales",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,nombre,descripcion,medidas,stock,created_at,updated_at"
            },
            {
              "name": "order",
              "value": "nombre.asc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjUwMDUxOSwiZXhwIjoyMDcyMDc2NTE5fQ.AMRs2dBcIRQuryFErHHqR5dSX1BnBdlBuluVNhTFw9I"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjUwMDUxOSwiZXhwIjoyMDcyMDc2NTE5fQ.AMRs2dBcIRQuryFErHHqR5dSX1BnBdlBuluVNhTFw9I"
            }
          ]
        },
        "options": {}
      },
      "id": "1c3e93c2-3d65-45e4-91b0-19aab716aa7a",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        496,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const materials = $input.all().map(item => item.json);\n\n// Transformar {id, nombre, descripcion, ...} a {id, name, description, ...}\nconst formattedMaterials = materials.map(material => ({\n  id: material.id,\n  name: material.nombre,\n  description: material.descripcion,\n  size: material.medidas,\n  stock: material.stock,\n  created_at: material.created_at,\n  updated_at: material.updated_at\n}));\n\n// Retornar como array de objetos\nreturn formattedMaterials.map(m => ({ json: m }));"
      },
      "id": "b6b2e5b8-82ff-4dd6-ad3f-7ec3cbeb5b12",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "6b7980e6-1dd9-49b1-b04d-a28335d6ae98",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        944,
        80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a31cda0-c223-45c6-88e9-94ec44736e17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "492e1639c541052b06da65989914634d56c64d16473a6c4b9076af8d9c81bd21"
  },
  "id": "mILvJNI2RUHWi8oa",
  "tags": []
}