n8n_webhooks/Health Check.json
{
  "name": "Health Check",
  "nodes": [
    {
      "parameters": {
        "path": "health",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f086b5ba-f7a1-4ee8-8142-99e99877d487",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        16,
        64
      ],
      "webhookId": "549602f0-7758-4e87-8f42-7615e1dc4ff0"
    },
    {
      "parameters": {
        "url": "https://ftftlekcgthgrbmvoajd.supabase.co/rest/v1/regiones",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "count"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1MDA1MTksImV4cCI6MjA3MjA3NjUxOX0.chn53Z8pv46Kt0zoh4L5grXEEq6SHBTY84FIDfXNntE"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1MDA1MTksImV4cCI6MjA3MjA3NjUxOX0.chn53Z8pv46Kt0zoh4L5grXEEq6SHBTY84FIDfXNntE"
            }
          ]
        },
        "options": {}
      },
      "id": "21cb39b1-4b63-4877-8c13-af6e5a2382c6",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        240,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    ok: true,\n    db: true,\n    timestamp: new Date().toISOString(),\n    service: 'Base Destinatarios API'\n  }\n};"
      },
      "id": "42af8a2f-28e2-4493-9dd2-150241e5e251",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "fffb8beb-5da3-4f28-acb1-f5847816c68b",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        688,
        64
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a52db768-64b2-4220-b57f-cd750bb790a1",
  "meta": {
    "instanceId": "492e1639c541052b06da65989914634d56c64d16473a6c4b9076af8d9c81bd21"
  },
  "id": "JMKEjXobdZkSqUzQ",
  "tags": []
}