n8n_webhooks/Post Requests.json
{
  "name": "Post Requests",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "requests",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "55d7797e-ddb5-44ed-a28e-1bcde10f0202",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        32,
        64
      ],
      "webhookId": "post-requests-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ftftlekcgthgrbmvoajd.supabase.co/rest/v1/solicitudes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjUwMDUxOSwiZXhwIjoyMDcyMDc2NTE5fQ.AMRs2dBcIRQuryFErHHqR5dSX1BnBdlBuluVNhTFw9I"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjUwMDUxOSwiZXhwIjoyMDcyMDc2NTE5fQ.AMRs2dBcIRQuryFErHHqR5dSX1BnBdlBuluVNhTFw9I"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "e6e3f7fe-50da-485a-bfb3-bb696f1e3937",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        256,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $input.first().json;\n\n// Transformar respuesta de Supabase al formato esperado por el frontend\nconst formattedRequest = {\n  id: request.id,\n  pdv_id: request.pdv_id,\n  region_id: request.region_id,\n  subterritorio_id: request.subterritorio_id,\n  campaign_id: request.campaña_id,\n  priority: request.prioridad,\n  zones: request.zonas,\n  observations: request.observaciones,\n  created_by: request.creado_por,\n  created_at: request.created_at,\n  updated_at: request.updated_at\n};\n\nreturn { json: formattedRequest };"
      },
      "id": "17cc36b6-e0d8-4353-82a4-50e98fb5653d",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "0c745399-6e55-4102-92d5-6af198e97766",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        704,
        64
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ecb7dc4f-0e20-4d92-aa88-eec4552f88b8",
  "meta": {
    "instanceId": "492e1639c541052b06da65989914634d56c64d16473a6c4b9076af8d9c81bd21"
  },
  "id": "1a7iSWgN82QJGcBi",
  "tags": []
}