n8n_webhooks/Post Request New.json
{
  "name": "Post Request New",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "requests",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "707602c5-06ac-4385-b004-a3ed129eb955",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -560,
        80
      ],
      "webhookId": "post-requests-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ftftlekcgthgrbmvoajd.supabase.co/rest/v1/solicitudes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjUwMDUxOSwiZXhwIjoyMDcyMDc2NTE5fQ.AMRs2dBcIRQuryFErHHqR5dSX1BnBdlBuluVNhTFw9I"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjUwMDUxOSwiZXhwIjoyMDcyMDc2NTE5fQ.AMRs2dBcIRQuryFErHHqR5dSX1BnBdlBuluVNhTFw9I"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  region_id: $json.region_id,\n  subterritorio_id: $json.subterritorio_id,\n  pdv_id: $json.body.pdv_id,\n  campaña_id: $json.campaña_id,\n  prioridad: $json.prioridad,\n  zonas: $json.zonas ? $json.zonas : [],\n  observaciones: $json.observaciones,\n  creado_por: $json.creado_por\n} }}",
        "options": {}
      },
      "id": "fc88bdf6-ee25-465b-816c-235774850a3d",
      "name": "HTTP Request - Insert Solicitud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -336,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const solicitudes = $input.all().map(item => item.json);\n\nconst ids = solicitudes.map(s => s.id);\n\nreturn [\n  {\n    json: {\n      solicitud_ids: ids\n    }\n  }\n];\n"
      },
      "id": "56f9bf2a-1ac4-49cf-a3d0-0b9e2f6af2df",
      "name": "Extract Solicitud ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ftftlekcgthgrbmvoajd.supabase.co/rest/v1/solicitud_items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjUwMDUxOSwiZXhwIjoyMDcyMDc2NTE5fQ.AMRs2dBcIRQuryFErHHqR5dSX1BnBdlBuluVNhTFw9I"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0ZnRsZWtjZ3RoZ3JibXZvYWpkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjUwMDUxOSwiZXhwIjoyMDcyMDc2NTE5fQ.AMRs2dBcIRQuryFErHHqR5dSX1BnBdlBuluVNhTFw9I"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  solicitud_id: $json.solicitud_ids.solicitud_id,\n  material_id: $json.material_id,\n  cantidad: $json.cantidad,\n  medida_etiqueta: $json.medida_etiqueta,\n  medida_custom: $json.medida_custom,\n  observaciones: $json.observaciones\n} }}",
        "options": {}
      },
      "id": "e9a94e16-cf4f-499b-ac27-f171b47fd1a1",
      "name": "HTTP Request - Insert Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        128,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tomar la respuesta de la primera solicitud HTTP (insert solicitud)\nconst solicitudResponse = $input.first().json;\n\n// Transformar respuesta al formato esperado por el frontend\nconst formattedRequest = {\n  id: solicitudResponse[0].id,\n  pdv_id: solicitudResponse[0].pdv_id,\n  region_id: solicitudResponse[0].region_id,\n  subterritorio_id: solicitudResponse[0].subterritorio_id,\n  campaign_id: solicitudResponse[0].campaña_id,\n  priority: solicitudResponse[0].prioridad,\n  zones: solicitudResponse[0].zonas,\n  observations: solicitudResponse[0].observaciones,\n  created_by: solicitudResponse[0].creado_por,\n  created_at: new Date().toISOString(),\n  updated_at: new Date().toISOString()\n};\n\nreturn { json: formattedRequest };"
      },
      "id": "eb976918-fae3-4fa6-89bb-58b400aa9b51",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "87a3e8bb-a32e-4528-92c3-012779664a08",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        576,
        80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request - Insert Solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Insert Solicitud": {
      "main": [
        [
          {
            "node": "Extract Solicitud ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Solicitud ID": {
      "main": [
        [
          {
            "node": "HTTP Request - Insert Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "94b6c294-d914-4704-b020-09cdaa68c1ee",
  "meta": {
    "instanceId": "492e1639c541052b06da65989914634d56c64d16473a6c4b9076af8d9c81bd21"
  },
  "id": "josNlORHsYuDSJP4",
  "tags": []
}